.table-margin{
  margin: 16px;
}
.custom-calendar .p-inputtext {
  border: 1px solid #3f51b5;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: none;
  height: 55px;
  width: 300px;
}

.custom-calendar .p-inputtext:focus {
  box-shadow: 0 0 0 0.2rem rgba(63,81,181,.25);
}
::ng-deep {
  .custom-calendar {
    .p-inputtext {
      margin-bottom: 15px;
    }
  }
}

.mdc-card {
    margin: 16px !important;
}

.form-group {
  margin: 16px;
}
.select-dimension{
  width: 300px;
}
.responsive-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.mat-typography{
  background-color: #f3f2f7;
}
.title{
  margin: 8px;
  color: #6c56f9;
}
.button-color {
  background-color: transparent;
  border-color: #6c56f9;
  color: #6c56f9;
  padding: 12px 24px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  max-width: 120px;
}
mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
