<div class="center-content ">
  <mat-card>
    <mat-card-header>
      <h1 class="title">Payment Details</h1>
    </mat-card-header>

    <mat-card-content>
      <p class="custom-input">Amount: {{payment?.amount}}</p>

      <p class="custom-input">Created At: {{payment?.createdAt}}</p>

      <p class="custom-input">Currency: {{payment?.currency}}</p>

      <p class="custom-input">Description: {{payment?.description}}</p>

      <p class="custom-input">ID: {{payment?.id}}</p>

      <p class="custom-input">Status: {{payment?.status}}</p>
    </mat-card-content>
  </mat-card>
</div>

